body {
    /*
        body
    */
    min-height: 100vh;
    display: flex;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
    background-image: url('medias/back.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.center_container {
    /*
        center container that include left_container and right_container
    */
    background-color: rgba(255, 162, 0, 0.29);
    display: grid;
    position: static;
    grid-template-columns: 35% 70%;
    grid-gap: 2px;
    height: 300px;
    box-shadow: 5px 10px 30px #ff004d;
    padding: -50%;
    padding-bottom: 20px;
}

.left_container {
    /*
        child of center + flexible and responsive
    */
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1px;

}

.right_container {
    /*
        child of center + flexible and responsive
    */

    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: left;
    flex-direction: column;

}

.form_gender {
    /*
        css of gender form
    */
    display: block;

    margin: auto auto auto 10px;
}

textarea{
    display: flex;
    overflow: scroll;
    height: 100px;
}

input{
    width: 50%;
}

.error{
    /*
        error  class
        change position and hide  related tag
    */
    position: absolute;
    visibility: hidden;
    width: 200px;
    height: 50px;
    top: 80%;
    left: 40%;
    border: 1px solid #d92a2a;
    border-radius: 10px;
    background-color: #d92a2a;
    justify-content: center;
    align-items: center;
}